body {
    width: 90%;
    font-family: "Roboto", sans-serif;
}

.promoted {
    position: absolute;
    background-color: lightgray;
    opacity: 80%;
    margin: 20px;
    font-weight: bold;
    color: rgb(106, 90, 90);
    padding: 2px 7px;
    border-radius: 2px;
}

.container {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
        rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    margin: auto;
}

.container>div>p {
    font-size: 30px;
    color: rgb(187, 184, 184);
    font-weight: 100;
}

.container>div>div {
    padding-top: 20px;
}

.container div>img {
    width: 100%;
    border-radius: 10px;
}

.max-safety>div>img {
    height: 30px;
    width: 80px;
    border-radius: 0px;
    margin-right: 10px;
    margin-top: 10px;
}

.max-safety>div {
    display: flex;
}

hr {
    color: lightgray;
}

span {
    font-size: 22px;
    color: rgb(187, 184, 184);

}

.offer-section {
    display: flex;
    position: relative;
    top: -70px;

}

.offer-1 {
    padding-left: 10px;
    background-color: blue;
    color: white;
    font-size: 24px;
    border-radius: 2px;
    padding: 5px 10px;
}

.offer-2 {
    background-color: white;
    opacity: 90%;
    margin-left: 120px;
    color: black;
    font-size: 24px;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Problem -2 */
.sunset>img {
    margin: auto;
    width: 100%;

}

.floating {
    text-align: center;
    position: relative;
    top: -250px;
    color: white
}

.floating>h1 {
    font-weight: bolder;
    font-size: 40px;
}

.floating>p {
    line-height: 16px;

}


select,
#map {
    height: 32px;
    border: none;
    padding: 5px 15px;
    border-radius: 5px 0 0 5px;
}

input {
    height: 30px;
    border: none;
    width: 300px;
    padding-left: 20px;
    border-radius: 0 5px 5px 0;
}

.profile {
    width: 90%;
    text-align: center;
    margin: auto;

    border-radius: 10px 10px 0 0;
    border: 2px solid rgb(180, 174, 174);


}

.profile>div>img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

#user-img>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: -120px;
    position: relative;
    border: 10px solid white;
}

.profile-content>h1 {
    top: -100px;
    margin-top: 0px;
    padding-top: 0px;
    color: rgb(15, 14, 13);
}
.profile-content>p{
    font-size: 25px;
    color:lightgray;
    font-weight: 100;
}